{% extends 'base_gerencia.html' %}
{%block main%}
<form method='GET' action="{%url 'gerencia:listar_categoria'%}">
<input type="text" name="q" value={{request.GET.q}}>
<button type='submit'>Filtrar</button>
</form>
{%for Categoria in categorias%}
<div>
    {{Categoria.nome}}
    <a href="{%url 'gerencia:editar_categoria' Categoria.id%}">Editar</a>
    <a href="{%url 'gerencia:deletar_categoria' Categoria.id%}">Deletar</a>
</div>
{%endfor%}
    <a href="{% url 'gerencia:criar_categoria'%}">Criar</a>
{%endblock%}